iss_flow.json
[{"id":"f3a8811d.6a112","type":"subflow","name":"Ok to send notifications?","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"3b002188.124f4e"}]}],"out":[{"x":700,"y":80,"wires":[{"id":"119b4bb3.558394","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3b002188.124f4e","type":"api-current-state","z":"f3a8811d.6a112","name":"Are notifications on?","server":"549d68d4.32fdc8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.notifications_send","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":220,"y":80,"wires":[["119b4bb3.558394"],[]]},{"id":"119b4bb3.558394","type":"api-current-state","z":"f3a8811d.6a112","name":"Is snooze notifications active?","server":"549d68d4.32fdc8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.notifications_snooze","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":470,"y":80,"wires":[[],[]]},{"id":"992d0c6a2cc27750","type":"tab","label":"ISS overhead","disabled":false,"info":"Gives you a forecast of the next viewable arrival of the International Space Station (valid until January 2031)\n\nHow does it work? It checks an RSS feed for your location to check for upcoming arrival times for the ISS.\n\nThere's an ISS card for Lovelace and you can\nset notifications on your mobile phone and\nGoogle / Nest smart speaker. Notifications are set  to be 10 minutes before the ISS is overhead and when it is overhead. \n\nThe notification will tell you from what direction and angle above the horizon the ISS will arrive, how long it will be visible and it what direction and angle above the horizon it will disappear.\n\nYou can adjust the degrees above the horizon for getting notifications, from 0° to 50°. NASA's Spot the Station website suggests making the minimum rising angle of 40° above the horizon, but this depends on how much open sky you can see from your location.\n\nData is pulled from an RSS feed for your location, which you can get from https://spotthestation.nasa.gov/\n\nFor example, in Melbourne Australia where I am, the URL is https://spotthestation.nasa.gov/sightings/view.cfm?country=Australia&region=Victoria&city=Melbourne \n\nOn that page, get the RSS feed URL and enter that into the Feedparser node in the top left.\n\nIn my example, the RSS feed is https://spotthestation.nasa.gov/sightings/indexrss.cfm?country=Australia&region=Victoria&city=Melbourne\n\nREQUIREMENTS\n\nNeeds \"node-red-node-feedparser\" added to the palette in Node RED. I _think_ you get prompted to add this if you don't have it installed on Node RED already.\n\n\nADDITIONS YOU CAN ADD\n---------------------\n\nLook in the comments for spots where you could\nadd some additional checks to stop announcements when people are asleep or if who are home aren't interested in the ISS.\n\n\nMAKE ANNOUNCEMENTS ON SPEAKER?\n\nAt our house, I have a sub-flow that checks to \nsee if announcements on the speaker are allowed.\n\nFor example, if it is overnight, no announcements.\n\nIf I've set a \"do not disturb\" mode, then again no announcements.\n\nARE PEOPLE HOME WHO ARE INTERESTED IN THE ISS?\n\nIf only certain people are interested in the ISS\nannouncements on the speaker, you could\nadd a check here to see if they are home. \n\nIf they are home, there's an announcement.\n\nIf they aren't home, there's silence.\n","env":[]},{"id":"574c68c021422a32","type":"comment","z":"992d0c6a2cc27750","name":"RSS result looks like this (open comment)","info":"Date: Tuesday Mar 23, 2021 <br/>\t\t\t\tTime: 6:10 AM <br/>\t\t\t\tDuration: 6 minutes <br/>\t\t\t\tMaximum Elevation: 24° <br/>\t\t\t\tApproach: 10° above N <br/>\t\t\t\tDeparture: 10° above ESE <br/>\n\n\n\nTuesday Mar 23, 2021 Time: 6:10 AM Duration: 6 minutes Maximum Elevation: 23° Approach: 10° above N Departure: 10° above ESE","x":320,"y":220,"wires":[]},{"id":"79e3754bf5fa9c18","type":"split","z":"992d0c6a2cc27750","name":"","splt":"Date: ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1010,"y":440,"wires":[["9116cbd78fcb0863"]],"inputLabels":["global.iss_feed"],"outputLabels":["msg.payload"]},{"id":"bdfb6f41e3f42211","type":"debug","z":"992d0c6a2cc27750","name":"Split","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2050,"y":240,"wires":[]},{"id":"9116cbd78fcb0863","type":"string","z":"992d0c6a2cc27750","name":"","methods":[{"name":"stripTags","params":[{"type":"str","value":""}]},{"name":"strip","params":[{"type":"str","value":"\t"}]},{"name":"append","params":[{"type":"str","value":" "}]},{"name":"collapseWhitespace","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1130,"y":420,"wires":[["bdfb6f41e3f42211","90b82481537b2469"]]},{"id":"ef3aa1512095d8a0","type":"debug","z":"992d0c6a2cc27750","name":"iss_date","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_date","targetType":"msg","statusVal":"","statusType":"auto","x":2900,"y":440,"wires":[]},{"id":"99fe9d0f7659beaa","type":"debug","z":"992d0c6a2cc27750","name":"iss_elevation","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_elevation","targetType":"msg","statusVal":"","statusType":"auto","x":2910,"y":480,"wires":[]},{"id":"8f8f5f33933d2493","type":"debug","z":"992d0c6a2cc27750","name":"iss_approach","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_approach","targetType":"msg","statusVal":"","statusType":"auto","x":2920,"y":520,"wires":[]},{"id":"9b31d76c7aa87a0f","type":"debug","z":"992d0c6a2cc27750","name":"iss_departure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_departure","targetType":"msg","statusVal":"","statusType":"auto","x":2920,"y":560,"wires":[]},{"id":"d5f338067e9886da","type":"string","z":"992d0c6a2cc27750","name":"iss_date","methods":[{"name":"delRightMost","params":[{"type":"str","value":" Time"}]}],"prop":"payload","propout":"iss_date","object":"msg","objectout":"msg","x":840,"y":520,"wires":[["2673455fb8c4ab47"]]},{"id":"2673455fb8c4ab47","type":"string","z":"992d0c6a2cc27750","name":"iss_elevation","methods":[{"name":"between","params":[{"type":"str","value":"Maximum Elevation: "},{"type":"str","value":"° Approach:"}]},{"name":"toFloat","params":[{"type":"num","value":"3"}]}],"prop":"payload","propout":"iss_elevation","object":"msg","objectout":"msg","x":990,"y":520,"wires":[["6f30aa1e29a07e32"]]},{"id":"6f30aa1e29a07e32","type":"string","z":"992d0c6a2cc27750","name":"iss_approach","methods":[{"name":"between","params":[{"type":"str","value":"Approach: "},{"type":"str","value":" Departure:"}]}],"prop":"payload","propout":"iss_approach","object":"msg","objectout":"msg","x":1160,"y":520,"wires":[["d8ed815395403b07"]]},{"id":"d8ed815395403b07","type":"string","z":"992d0c6a2cc27750","name":"iss_departure","methods":[{"name":"delLeftMost","params":[{"type":"str","value":"Departure: "}]}],"prop":"payload","propout":"iss_departure","object":"msg","objectout":"msg","x":1340,"y":520,"wires":[["d7dda7a283d905d1"]]},{"id":"f1aa294aa132dda5","type":"switch","z":"992d0c6a2cc27750","name":"Does feed string contain valid content?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Duration","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":420,"wires":[["02bfb968c98f1347"],[]]},{"id":"90b82481537b2469","type":"switch","z":"992d0c6a2cc27750","name":"Does feed contain a URL?","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"spotthestation.nasa.gov","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1340,"y":420,"wires":[["f1aa294aa132dda5"],[]]},{"id":"02bfb968c98f1347","type":"string","z":"992d0c6a2cc27750","name":"iss_time","methods":[{"name":"between","params":[{"type":"str","value":"Time: "},{"type":"str","value":" Duration:"}]}],"prop":"payload","propout":"iss_time","object":"msg","objectout":"msg","x":700,"y":520,"wires":[["d5f338067e9886da"]]},{"id":"01827d45dce87446","type":"debug","z":"992d0c6a2cc27750","name":"iss_time","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_time","targetType":"msg","statusVal":"","statusType":"auto","x":2900,"y":400,"wires":[]},{"id":"d7dda7a283d905d1","type":"string","z":"992d0c6a2cc27750","name":"iss_duration","methods":[{"name":"between","params":[{"type":"str","value":"Duration: "},{"type":"str","value":" minutes Maximum"}]}],"prop":"payload","propout":"iss_duration","object":"msg","objectout":"msg","x":1530,"y":520,"wires":[["01827d45dce87446","ef3aa1512095d8a0","99fe9d0f7659beaa","8f8f5f33933d2493","9b31d76c7aa87a0f","78b150dd92c4df37","c3ed725afdd9bf4b","99abbcb276e09dd2"]]},{"id":"78b150dd92c4df37","type":"debug","z":"992d0c6a2cc27750","name":"iss_duration","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_duration","targetType":"msg","statusVal":"","statusType":"auto","x":2910,"y":600,"wires":[]},{"id":"7ab3e49569631fe2","type":"delay","z":"992d0c6a2cc27750","name":"Limits to first met criteria","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"45","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":2210,"y":1060,"wires":[["2523ea5aabed3695","18d443602ec3797d","73abdb040dd443a6","70b07f10bee1dc98","d9cb845f83abfff0","a57d3c096cecfb9a"]]},{"id":"2523ea5aabed3695","type":"api-call-service","z":"992d0c6a2cc27750","name":"iss_duration","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.iss_duration"],"data":"{\"value\": \"{{iss_duration}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2530,"y":940,"wires":[["190fa81941db28c2"]]},{"id":"18d443602ec3797d","type":"api-call-service","z":"992d0c6a2cc27750","name":"iss_approach","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.iss_approach"],"data":"{\"value\": \"{{iss_approach}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2540,"y":1000,"wires":[["71bb2cf01a6332ed"]]},{"id":"73abdb040dd443a6","type":"api-call-service","z":"992d0c6a2cc27750","name":"iss_departure","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.iss_departure"],"data":"{\"value\": \"{{iss_departure}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2540,"y":1060,"wires":[["e1f54e4a503e488c"]]},{"id":"190fa81941db28c2","type":"debug","z":"992d0c6a2cc27750","name":"Duration","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_duration","targetType":"msg","statusVal":"","statusType":"auto","x":2760,"y":940,"wires":[]},{"id":"71bb2cf01a6332ed","type":"debug","z":"992d0c6a2cc27750","name":"Approach","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_approach","targetType":"msg","statusVal":"","statusType":"auto","x":2760,"y":1000,"wires":[]},{"id":"e1f54e4a503e488c","type":"debug","z":"992d0c6a2cc27750","name":"Departure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_departure","targetType":"msg","statusVal":"","statusType":"auto","x":2760,"y":1060,"wires":[]},{"id":"716c89e054b77247","type":"debug","z":"992d0c6a2cc27750","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":940,"wires":[]},{"id":"2b8b7222ee2ad357","type":"switch","z":"992d0c6a2cc27750","name":"Elevation between 0 and 90 degrees?","property":"iss_elevation","propertyType":"msg","rules":[{"t":"btwn","v":"-1","vt":"num","v2":"91","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":620,"wires":[["716c89e054b77247","5ec950a0a31b1201"],["8c59f2e32f0fb42a","fefee0adad09cfdc","ca66b13c62365aee"]]},{"id":"50fe326d43dc7657","type":"moment","z":"992d0c6a2cc27750","name":"","topic":"","input":"","inputType":"msg","inTz":"Australia/Melbourne","adjAmount":0,"adjType":"days","adjDir":"add","format":"fromnow","locale":"C","output":"","outputType":"msg","outTz":"Australia/Melbourne","x":1860,"y":640,"wires":[["a8d371d0f48f2fe8"]]},{"id":"7783b7f26f136471","type":"debug","z":"992d0c6a2cc27750","name":"Past","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":680,"wires":[]},{"id":"5ec950a0a31b1201","type":"function","z":"992d0c6a2cc27750","name":"","func":"msg.payload = msg.iss_date + \" \" + msg.iss_time; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":640,"wires":[["50fe326d43dc7657"]]},{"id":"a8d371d0f48f2fe8","type":"switch","z":"992d0c6a2cc27750","name":"Past or future event?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ago","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2100,"y":700,"wires":[["7783b7f26f136471"],["5312b5845c6dd3a3","41954e7a675516bd","8c59f2e32f0fb42a","fefee0adad09cfdc","ca66b13c62365aee"]]},{"id":"5312b5845c6dd3a3","type":"debug","z":"992d0c6a2cc27750","name":"Future","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":720,"wires":[]},{"id":"70b07f10bee1dc98","type":"api-call-service","z":"992d0c6a2cc27750","name":"iss_elevation","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.iss_elevation"],"data":"{\"value\":\"{{iss_elevation}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2530,"y":1180,"wires":[["d9db5dd565e07943"]]},{"id":"d9db5dd565e07943","type":"debug","z":"992d0c6a2cc27750","name":"Elevation","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_elevation","targetType":"msg","statusVal":"","statusType":"auto","x":2800,"y":1180,"wires":[]},{"id":"384c6c4c4edf7fd0","type":"moment","z":"992d0c6a2cc27750","name":"","topic":"","input":"","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DDTHH:mm:ssZ","locale":"C","output":"iss_next_overhead_date_time","outputType":"msg","outTz":"Australia/Sydney","x":2720,"y":1120,"wires":[["c17471c674799dc6","f990ca78e847d38b"]]},{"id":"d9cb845f83abfff0","type":"function","z":"992d0c6a2cc27750","name":"","func":"msg.payload = msg.iss_date + \" \" + msg.iss_time; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2520,"y":1120,"wires":[["384c6c4c4edf7fd0"]]},{"id":"c17471c674799dc6","type":"debug","z":"992d0c6a2cc27750","name":"Date and time","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_next_overhead_date_time","targetType":"msg","statusVal":"","statusType":"auto","x":2980,"y":1080,"wires":[]},{"id":"f990ca78e847d38b","type":"api-call-service","z":"992d0c6a2cc27750","name":"iss_next_overhead_date_time","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_datetime","service":"set_datetime","areaId":[],"deviceId":[],"entityId":["input_datetime.iss_next_overhead_date_time"],"data":"{\"datetime\":\"{{iss_next_overhead_date_time}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":3030,"y":1120,"wires":[[]]},{"id":"cf64c50b4cb79ee1","type":"api-call-service","z":"992d0c6a2cc27750","name":"Send to MC HASS app - ISS arrives soon","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"script","service":"iss_overhead_in_10_minutes","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":1660,"wires":[[]]},{"id":"5b74817efef9bad3","type":"api-call-service","z":"992d0c6a2cc27750","name":"Send to MC HASS app - ISS is here","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"script","service":"iss_overhead_now","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":1720,"wires":[["b3e91054e56b2263"]]},{"id":"8374e02f87e2ceaa","type":"inject","z":"992d0c6a2cc27750","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":530,"y":1660,"wires":[["cf64c50b4cb79ee1"]]},{"id":"397232c6fda69aa0","type":"inject","z":"992d0c6a2cc27750","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":530,"y":1720,"wires":[["5b74817efef9bad3"]]},{"id":"273c501ffb075c36","type":"function","z":"992d0c6a2cc27750","name":"","func":"msg.announcement = \"The International Space station arrives in 10 minutes. It will be visible for \" + msg.iss_duration + \" minutes, arriving from \" + msg.iss_approach + \", reaching a maximum height of \" + msg.iss_elevation + \" above the horizon. It will leave \" + msg.iss_departure + \".\";\n\nreturn msg;\n\n/*\n\n\n{\n    \"data\": {\n        \"title\": \"🛰 ISS Notification 🛰\",\n        \"message\": \"The ISS arrives soon\",\n        \"data\": {\n            \"chronometer\": true,\n            \"when\": \"{{ (as_timestamp(now()) + 600) | round }}\",\n            \"timeout\": 600\n        }\n    },\n    \"service\": \"notify.mobile_app_mc_hass_app\"\n}\n\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1720,"wires":[["9563ce63e838849e"]]},{"id":"7f60d28dda30f680","type":"inject","z":"992d0c6a2cc27750","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1000,"y":1560,"wires":[["bde3c1a6bbfbe28a"]]},{"id":"ba22be82fb480571","type":"subflow:f3a8811d.6a112","z":"992d0c6a2cc27750","name":"","x":810,"y":1600,"wires":[["bde3c1a6bbfbe28a"]]},{"id":"bde3c1a6bbfbe28a","type":"api-current-state","z":"992d0c6a2cc27750","name":"ISS duration","server":"549d68d4.32fdc8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.iss_duration","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"iss_duration","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":1130,"y":1600,"wires":[["58a71777e6f3dad2"]]},{"id":"58a71777e6f3dad2","type":"api-current-state","z":"992d0c6a2cc27750","name":"ISS approach","server":"549d68d4.32fdc8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.iss_approach","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"iss_approach","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":1300,"y":1600,"wires":[["229d0966a33c49ce"]]},{"id":"229d0966a33c49ce","type":"api-current-state","z":"992d0c6a2cc27750","name":"ISS elevation","server":"549d68d4.32fdc8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.iss_elevation","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"iss_elevation","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":1010,"y":1840,"wires":[["d3c62e932b2fc5f9"]]},{"id":"d3c62e932b2fc5f9","type":"api-current-state","z":"992d0c6a2cc27750","name":"ISS departure","server":"549d68d4.32fdc8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.iss_departure","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"iss_departure","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":1200,"y":1840,"wires":[["68a4be22c69b6e26"]]},{"id":"c2ae919cd1a28ec1","type":"api-call-service","z":"992d0c6a2cc27750","name":"Make announcement","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"tts","service":"google_say","areaId":[],"deviceId":[],"entityId":["media_player.family_room_speaker"],"data":"{\"message\":\"{{announcement}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":2440,"y":1720,"wires":[[]]},{"id":"ca9ed94088ec3422","type":"string","z":"992d0c6a2cc27750","name":"Turn NSEW into words","methods":[{"name":"replaceAll","params":[{"type":"str","value":"N"},{"type":"str","value":"North "}]},{"name":"replaceAll","params":[{"type":"str","value":"S"},{"type":"str","value":"South "}]},{"name":"replaceAll","params":[{"type":"str","value":"E"},{"type":"str","value":"East "}]},{"name":"replaceAll","params":[{"type":"str","value":"W"},{"type":"str","value":"West "}]}],"prop":"iss_approach","propout":"iss_approach","object":"msg","objectout":"msg","x":1420,"y":1720,"wires":[["273c501ffb075c36"]]},{"id":"68a4be22c69b6e26","type":"string","z":"992d0c6a2cc27750","name":"Turn NSEW into words","methods":[{"name":"replaceAll","params":[{"type":"str","value":"N"},{"type":"str","value":"North "}]},{"name":"replaceAll","params":[{"type":"str","value":"S"},{"type":"str","value":"South "}]},{"name":"replaceAll","params":[{"type":"str","value":"E"},{"type":"str","value":"East "}]},{"name":"replaceAll","params":[{"type":"str","value":"W"},{"type":"str","value":"West "}]}],"prop":"iss_departure","propout":"iss_departure","object":"msg","objectout":"msg","x":1300,"y":1780,"wires":[["ca9ed94088ec3422"]]},{"id":"9563ce63e838849e","type":"api-call-service","z":"992d0c6a2cc27750","name":"Set volume","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.home_mini_speakers"],"data":"{\"volume_level\":\"0.4\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2250,"y":1720,"wires":[["c2ae919cd1a28ec1"]]},{"id":"ccf802c2fde00a73","type":"ha-time","z":"992d0c6a2cc27750","name":"Trigger when ISS due","server":"549d68d4.32fdc8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"input_datetime.iss_next_overhead_date_time","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":true,"x":430,"y":1840,"wires":[["7dcc4e4e50b5dc48","5b74817efef9bad3"]]},{"id":"7dcc4e4e50b5dc48","type":"debug","z":"992d0c6a2cc27750","name":"IIS now","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":1840,"wires":[]},{"id":"1fc3bc5abfadec6f","type":"ha-time","z":"992d0c6a2cc27750","name":"Trigger 10 minutes before ISS due","server":"549d68d4.32fdc8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"input_datetime.iss_next_overhead_date_time","property":"","offset":"-10","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":450,"y":1560,"wires":[["7ad2cfc5e4634ce0","ba22be82fb480571","cf64c50b4cb79ee1"]]},{"id":"7ad2cfc5e4634ce0","type":"debug","z":"992d0c6a2cc27750","name":"IIS soon","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1560,"wires":[]},{"id":"8772e55313f5df6f","type":"comment","z":"992d0c6a2cc27750","name":"Notification of arrival in 10 minutes (open comment)","info":"This pulls in the time for the next arrival\nfrom the variable\n\ninput_datetime.iss_next_overhead_date_time\n\nIt triggers a notification 10 minutes before the\narrival time, then triggers a notification\nthat it is now arriving","x":400,"y":1500,"wires":[]},{"id":"aeaa4b3a6455d470","type":"inject","z":"992d0c6a2cc27750","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1360,"wires":[["f7be1bf972a35835"]]},{"id":"b8b384b72d791ed9","type":"comment","z":"992d0c6a2cc27750","name":"Reset values","info":"","x":280,"y":1320,"wires":[]},{"id":"f7be1bf972a35835","type":"api-call-service","z":"992d0c6a2cc27750","name":"No sightings soon","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.iss_approach"],"data":"{\"value\":\"No sightings soon\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":1360,"wires":[[]]},{"id":"74699433f0748e06","type":"switch","z":"992d0c6a2cc27750","name":"Is flow.iss_feed empty or not?","property":"iss_feed","propertyType":"flow","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":1510,"y":200,"wires":[["79e3754bf5fa9c18","5d9f89bd7c775770"],["4bd4bad785d0d2ef"]]},{"id":"5d9f89bd7c775770","type":"debug","z":"992d0c6a2cc27750","name":"Payload is not null","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1870,"y":180,"wires":[]},{"id":"4bd4bad785d0d2ef","type":"debug","z":"992d0c6a2cc27750","name":"Payload is otherwise","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1880,"y":220,"wires":[]},{"id":"5e7ec4f43f7b4c7f","type":"api-call-service","z":"992d0c6a2cc27750","name":"Send to MC HASS app - timeout 5s","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_mc_hass_app","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"🛰 ISS is overhead for XXX minutes 🛰\",\"message\":\"The ISS will arrive at  from   reaching a maximum height of  above the horizon. After minutes, it will leave .\",\"data\":{\"chronometer\":true,\"when\":\"16:13:00 19-July-2021\",\"timeout\":600,\"tag\":\"iss\",\"ttl\":86400,\"priority\":\"high\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":2000,"wires":[[]]},{"id":"5f174d22d683d156","type":"moment","z":"992d0c6a2cc27750","name":"","topic":"","input":"","inputType":"msg","inTz":"Australia/Melbourne","adjAmount":"10","adjType":"minutes","adjDir":"add","format":"YYYY-MM-DDTHH:mm:ssZ","locale":"C","output":"timeout","outputType":"msg","outTz":"Australia/Melbourne","x":1020,"y":2000,"wires":[["5e7ec4f43f7b4c7f"]]},{"id":"941ab17714eb9d44","type":"api-call-service","z":"992d0c6a2cc27750","name":"Set RSS feed last updated date and time","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.iss_rss_feed_updated"],"data":"{\"value\": \"{{iss_rss_feed_updated_date_time}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":1120,"wires":[[]]},{"id":"3a930dea0d8cabfd","type":"delay","z":"992d0c6a2cc27750","name":"10 sec pause while feed data is downloaded","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":370,"y":1160,"wires":[["b4c2032b7de32c60"]]},{"id":"d618b107847729f3","type":"moment","z":"992d0c6a2cc27750","name":"","topic":"","input":"article.date","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"calendar","locale":"C","output":"iss_rss_feed_updated_date_time","outputType":"msg","outTz":"Australia/Melbourne","x":1200,"y":1120,"wires":[["941ab17714eb9d44"]]},{"id":"152794fa9f3eee98","type":"delay","z":"992d0c6a2cc27750","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"45","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":1000,"y":1120,"wires":[["d618b107847729f3"]]},{"id":"7fb1ea25b59c0868","type":"comment","z":"992d0c6a2cc27750","name":"When was RSS feed last generated by NASA?","info":"","x":370,"y":1100,"wires":[]},{"id":"b4c2032b7de32c60","type":"switch","z":"992d0c6a2cc27750","name":"Is msg.article.date empty or not?","property":"article.date","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":690,"y":1160,"wires":[["152794fa9f3eee98"],["39321d15cfdce4ef"]]},{"id":"39321d15cfdce4ef","type":"api-call-service","z":"992d0c6a2cc27750","name":"Set value to \"Feed not generated\"","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.iss_rss_feed_updated"],"data":"{\"value\": \"Feed not generated\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":1200,"wires":[[]]},{"id":"b36e6d4c63721f2d","type":"api-call-service","z":"992d0c6a2cc27750","name":"No sightings soon","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.iss_approach"],"data":"{\"value\":\"No sightings soon\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":1900,"wires":[[]]},{"id":"b3e91054e56b2263","type":"delay","z":"992d0c6a2cc27750","name":"New message, once ISS has passed overhead","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1000,"y":1900,"wires":[["b36e6d4c63721f2d"]]},{"id":"41954e7a675516bd","type":"switch","z":"992d0c6a2cc27750","name":"Did a payload meet the criteria?","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1890,"y":1060,"wires":[["7ab3e49569631fe2","bb5061bfd0e76369"],["8c59f2e32f0fb42a","fefee0adad09cfdc","ca66b13c62365aee"]]},{"id":"bb5061bfd0e76369","type":"debug","z":"992d0c6a2cc27750","name":"Met","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2290,"y":980,"wires":[]},{"id":"8c59f2e32f0fb42a","type":"debug","z":"992d0c6a2cc27750","name":"Not met","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1540,"y":1000,"wires":[]},{"id":"fefee0adad09cfdc","type":"api-call-service","z":"992d0c6a2cc27750","name":"No sightings soon","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.iss_approach"],"data":"{\"value\":\"No sightings soon\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2190,"y":880,"wires":[[]]},{"id":"384a84188cb91e7e","type":"server-state-changed","z":"992d0c6a2cc27750","name":"ISS minimum elevation angle trigger","server":"549d68d4.32fdc8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.iss_set_minimum_elevation","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"iss_set_minimum_elevation","propertyType":"msg","value":"","valueType":"entityState"}],"x":300,"y":440,"wires":[["3a70ed087f0b334b","2c1507d143639012","aa2469c31e641111"]]},{"id":"3a70ed087f0b334b","type":"debug","z":"992d0c6a2cc27750","name":"New value","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_set_minimum_elevation","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":440,"wires":[]},{"id":"339728fbed8cc5ba","type":"api-call-service","z":"992d0c6a2cc27750","name":"Set value to \"Recalculating ...\"","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.iss_rss_feed_updated"],"data":"{\"value\":\"Recalculating to {{iss_set_minimum_elevation}}°\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":280,"wires":[["7cc2347f69ba3586"]],"outputLabels":["global.iss_feed"]},{"id":"99abbcb276e09dd2","type":"switch","z":"992d0c6a2cc27750","name":"Set minimum value range: 0°, 10°, 20°, 30°, 40° or 50°","property":"iss_set_minimum_elevation","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"30","vt":"num"},{"t":"eq","v":"40","vt":"num"},{"t":"eq","v":"50","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":700,"y":660,"wires":[["2b8b7222ee2ad357","9bdd539f4542a994"],["ee7ea02b5289659f","9bdd539f4542a994"],["786559f876c725b4","9bdd539f4542a994"],["067a694d241e7937","9bdd539f4542a994"],["68bfabef8df69fb8"],["1fa717be24ffe343","9bdd539f4542a994"],["f9cb91ceb62a1415","2b8b7222ee2ad357"]]},{"id":"ee7ea02b5289659f","type":"switch","z":"992d0c6a2cc27750","name":"Elevation between 10 and 90 degrees?","property":"iss_elevation","propertyType":"msg","rules":[{"t":"btwn","v":"9","vt":"num","v2":"91","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":660,"wires":[["5ec950a0a31b1201","716c89e054b77247"],["8c59f2e32f0fb42a","fefee0adad09cfdc","ca66b13c62365aee"]]},{"id":"786559f876c725b4","type":"switch","z":"992d0c6a2cc27750","name":"Elevation between 20 and 90 degrees?","property":"iss_elevation","propertyType":"msg","rules":[{"t":"btwn","v":"19","vt":"num","v2":"91","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":700,"wires":[["5ec950a0a31b1201","716c89e054b77247"],["8c59f2e32f0fb42a","fefee0adad09cfdc","ca66b13c62365aee"]]},{"id":"067a694d241e7937","type":"switch","z":"992d0c6a2cc27750","name":"Elevation between 30 and 90 degrees?","property":"iss_elevation","propertyType":"msg","rules":[{"t":"btwn","v":"29","vt":"num","v2":"91","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":740,"wires":[["5ec950a0a31b1201","716c89e054b77247"],["8c59f2e32f0fb42a","fefee0adad09cfdc","ca66b13c62365aee"]]},{"id":"68bfabef8df69fb8","type":"switch","z":"992d0c6a2cc27750","name":"Elevation between 40 and 90 degrees?","property":"iss_elevation","propertyType":"msg","rules":[{"t":"btwn","v":"39","vt":"num","v2":"91","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":780,"wires":[["5ec950a0a31b1201","716c89e054b77247"],["8c59f2e32f0fb42a","fefee0adad09cfdc","ca66b13c62365aee"]]},{"id":"1fa717be24ffe343","type":"switch","z":"992d0c6a2cc27750","name":"Elevation between 50 and 90 degrees?","property":"iss_elevation","propertyType":"msg","rules":[{"t":"btwn","v":"49","vt":"num","v2":"91","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":820,"wires":[["5ec950a0a31b1201","716c89e054b77247"],["8c59f2e32f0fb42a","fefee0adad09cfdc","ca66b13c62365aee"]]},{"id":"9bdd539f4542a994","type":"debug","z":"992d0c6a2cc27750","name":"Minimum elevation","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_set_minimum_elevation","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":900,"wires":[]},{"id":"f9cb91ceb62a1415","type":"debug","z":"992d0c6a2cc27750","name":"Otherwise","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_set_minimum_elevation","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":940,"wires":[]},{"id":"c3ed725afdd9bf4b","type":"debug","z":"992d0c6a2cc27750","name":"Minimum angle trigger","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_set_minimum_elevation","targetType":"msg","statusVal":"","statusType":"auto","x":2920,"y":640,"wires":[]},{"id":"091271bcf92cb778","type":"api-current-state","z":"992d0c6a2cc27750","name":"ISS minimum elevation angle trigger","server":"549d68d4.32fdc8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.iss_set_minimum_elevation","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"iss_set_minimum_elevation","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1210,"y":200,"wires":[["74699433f0748e06"]]},{"id":"f01dc7f1dbf6b589","type":"debug","z":"992d0c6a2cc27750","name":"Feed","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"c65516a46cdf470e","type":"feedparse","z":"992d0c6a2cc27750","name":"Feedparser - put RSS URL here","url":"https://spotthestation.nasa.gov/sightings/xml_files/Australia_Victoria_Melbourne.xml","interval":"60","x":290,"y":160,"wires":[["f01dc7f1dbf6b589","3a930dea0d8cabfd","e5ccf41a915749c5"]],"icon":"font-awesome/fa-map-marker"},{"id":"e5ccf41a915749c5","type":"join","z":"992d0c6a2cc27750","name":"ISS array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":560,"y":160,"wires":[["deddd72209d29524","db4505fa0e868f84"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"deddd72209d29524","type":"debug","z":"992d0c6a2cc27750","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":220,"wires":[]},{"id":"07a3bf4183c162fe","type":"debug","z":"992d0c6a2cc27750","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iss_feed","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":160,"wires":[]},{"id":"db4505fa0e868f84","type":"change","z":"992d0c6a2cc27750","name":"","rules":[{"t":"set","p":"iss_feed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":160,"wires":[["07a3bf4183c162fe","091271bcf92cb778"]]},{"id":"fd7b50fba0c73842","type":"change","z":"992d0c6a2cc27750","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"iss_feed","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":220,"wires":[["091271bcf92cb778"]]},{"id":"2c1507d143639012","type":"delay","z":"992d0c6a2cc27750","name":"5 second delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640,"y":280,"wires":[["fd7b50fba0c73842"]]},{"id":"a57d3c096cecfb9a","type":"switch","z":"992d0c6a2cc27750","d":true,"name":"","property":"iss_rss_feed_updated","propertyType":"flow","rules":[{"t":"eq","v":"Recalculating","vt":"str"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":2510,"y":1240,"wires":[["76b8ab3bcdc83f51"],["76b8ab3bcdc83f51"]]},{"id":"76b8ab3bcdc83f51","type":"api-call-service","z":"992d0c6a2cc27750","name":"Reset RSS feed updated to date","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.iss_rss_feed_updated"],"data":"{\"value\":\"{{flow.iss_rss_feed_updated}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2730,"y":1240,"wires":[[]]},{"id":"6f21a73a94109244","type":"comment","z":"992d0c6a2cc27750","name":"Update minimum elevation in frontend","info":"","x":310,"y":400,"wires":[]},{"id":"7cc2347f69ba3586","type":"delay","z":"992d0c6a2cc27750","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1620,"y":280,"wires":[["07c23d98750789bf"]]},{"id":"07c23d98750789bf","type":"api-call-service","z":"992d0c6a2cc27750","name":"Reset RSS feed updated to date","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.iss_rss_feed_updated"],"data":"{\"value\":\"{{flow.iss_rss_feed_updated}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1910,"y":320,"wires":[[]]},{"id":"c5c207da1cae156c","type":"switch","z":"992d0c6a2cc27750","name":"Does it contain \"Recalculating\"?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Recalculating","vt":"str"},{"t":"cont","v":"Initialising","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":930,"y":340,"wires":[["7cc2347f69ba3586"],["7cc2347f69ba3586"],["ccd028cbbc1df5c3"]]},{"id":"ccd028cbbc1df5c3","type":"api-current-state","z":"992d0c6a2cc27750","name":"Save \"feed updated\" value","server":"549d68d4.32fdc8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_text.iss_rss_feed_updated","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"iss_rss_feed_updated","propertyType":"flow","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":280,"wires":[["339728fbed8cc5ba"]]},{"id":"aa2469c31e641111","type":"api-current-state","z":"992d0c6a2cc27750","name":"Check \"feed updated\" value","server":"549d68d4.32fdc8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_text.iss_rss_feed_updated","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":340,"wires":[["c5c207da1cae156c"]]},{"id":"2759aa7c9d81e32f","type":"inject","z":"992d0c6a2cc27750","name":"Initial setup and check every 5 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"90","topic":"","payloadType":"date","x":320,"y":520,"wires":[["ccbf4fc3b41c4bd9"]]},{"id":"ccbf4fc3b41c4bd9","type":"api-current-state","z":"992d0c6a2cc27750","name":"Minimum elevation","server":"549d68d4.32fdc8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.iss_set_minimum_elevation","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"iss_set_minimum_elevation","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":580,"wires":[["aa2469c31e641111","2c1507d143639012","3a70ed087f0b334b"]]},{"id":"ca66b13c62365aee","type":"api-call-service","z":"992d0c6a2cc27750","name":"Reset iss_next_overhead_date_time","server":"549d68d4.32fdc8","version":5,"debugenabled":false,"domain":"input_datetime","service":"set_datetime","areaId":[],"deviceId":[],"entityId":["input_datetime.iss_next_overhead_date_time"],"data":"{\"datetime\":\"2050-01-01 00:00:00\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2250,"y":920,"wires":[[]]},{"id":"c4f55d50a79a8485","type":"comment","z":"992d0c6a2cc27750","name":"Put your ISS RSS feed in the Feedparser node below","info":"","x":280,"y":100,"wires":[]},{"id":"6c89db871bab7caa","type":"comment","z":"992d0c6a2cc27750","name":"READ ME FIRST","info":"Gives you a forecast of the next viewable arrival of the International Space Station (valid until January 2031)\n\nHow does it work? It checks an RSS feed for your location to check for upcoming arrival times for the ISS.\n\nThere's an ISS card for Lovelace and you can\nset notifications on your mobile phone and\nGoogle / Nest smart speaker. Notifications are set  to be 10 minutes before the ISS is overhead and when it is overhead. \n\nThe notification will tell you from what direction and angle above the horizon the ISS will arrive, how long it will be visible and it what direction and angle above the horizon it will disappear.\n\nYou can adjust the degrees above the horizon for getting notifications, from 0° to 50°. NASA's Spot the Station website suggests making the minimum rising angle of 40° above the horizon, but this depends on how much open sky you can see from your location.\n\nData is pulled from an RSS feed for your location, which you can get from https://spotthestation.nasa.gov/\n\nFor example, in Melbourne Australia where I am, the URL is https://spotthestation.nasa.gov/sightings/view.cfm?country=Australia&region=Victoria&city=Melbourne \n\nOn that page, get the RSS feed URL and enter that into the Feedparser node in the top left.\n\nIn my example, the RSS feed is https://spotthestation.nasa.gov/sightings/indexrss.cfm?country=Australia&region=Victoria&city=Melbourne\n\nREQUIREMENTS\n\nNeeds \"node-red-node-feedparser\" added to the palette in Node RED. I _think_ you get prompted to add this if you don't have it installed on Node RED already.\n\n\nADDITIONS YOU CAN ADD\n---------------------\n\nLook in the comments for spots where you could\nadd some additional checks to stop announcements when people are asleep or if who are home aren't interested in the ISS.\n\n\nMAKE ANNOUNCEMENTS ON SPEAKER?\n\nAt our house, I have a sub-flow that checks to \nsee if announcements on the speaker are allowed.\n\nFor example, if it is overnight, no announcements.\n\nIf I've set a \"do not disturb\" mode, then again no announcements.\n\nARE PEOPLE HOME WHO ARE INTERESTED IN THE ISS?\n\nIf only certain people are interested in the ISS\nannouncements on the speaker, you could\nadd a check here to see if they are home. \n\nIf they are home, there's an announcement.\n\nIf they aren't home, there's silence.\n","x":160,"y":60,"wires":[],"icon":"node-red/alert.svg"},{"id":"77432147e4b8693e","type":"comment","z":"992d0c6a2cc27750","name":"INTERESTED PEOPLE HOME? Could go here (see note)","info":"If only certain people are interested in the ISS\nannouncements on the speaker, you could\nadd a check here to see if they are home. \n\nIf they are home, there's an announcement.\n\nIf they aren't home, there's silence.","x":1930,"y":1680,"wires":[]},{"id":"956fb647752ba8af","type":"comment","z":"992d0c6a2cc27750","name":"MAKE ANNOUNCEMENT CHECK? Could go here (see note)","info":"At our house, I have a sub-flow that checks to \nsee if announcements on the speaker are allowed.\n\nFor example, if it is overnight, no announcements.\n\nIf I've set a \"do not disturb\" mode, then again no\nannouncements","x":900,"y":1500,"wires":[]},{"id":"549d68d4.32fdc8","type":"server","name":"hassio","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]
